extends layout

block content
  h1= name
  p Get Request: name  & lastname
  p Welcome to #{name}'s World!
  p Its a #{lastname} life!

  p Post value "string" = #{string}
  p this had length of #{length}